/build/
/.dart_tool/
/.idea/
.flutter-plugins-dependencies
.dart_tool/package_config_subset
.dart_tool/package_config_subset
.dart_tool/package_config.json
.idea/libraries/Dart_SDK.xml
.flutter-plugins-dependencies
.flutter-plugins
.dart_tool/version
.dart_tool/package_config_subset
.dart_tool/package_config.json
